// Import All Using Helpers Directory
@use "helpers/usinghelpers" as *;

// Begining Of The Project
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  font-family: Arial;
  min-height: 100vh;
  @include flex(null, null, center, center, null);
}
ul li {
  list-style-type: none;
}
button, a {
  cursor: pointer;
}
input, 
button, 
textarea,
select {
  font-family: inherit;
}
.container {
  width: 80%;
  padding: 0 10px;
  margin: 0 auto;
  @include flex(column, null, center, center, null);
}

// Begining Of The Project
.input {
  width: 500px;
  padding: 20px 5px;
  margin-bottom: 30px;
  border: none;
  border-bottom: 2px solid color(blk-color-02);
  outline: none;
  font-size: 20px;
}
.myBtn {
  width: 200px;
  padding: 10px 30px;
  border-radius: 5px;
  font-size: 18px;
  font-weight: bold;
  border: none;
  outline: none;
  background-color: color(blk-color-02);
  color: color(wht-color-01);
  @include transition;
  &:hover {
    opacity: 0.8;
  }
  &:active {
    opacity: 1;
  }
}