// Import All Using Helpers Directory
@use "helpers/usinghelpers" as *;

// Begining Of The Project
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  font-family: Arial;
  min-height: 100vh;
  @include flex(null, null, center, center, null);
}
ul li {
  list-style-type: none;
}
button, a {
  cursor: pointer;
}
input, 
button, 
textarea,
select {
  font-family: inherit;
}
.container {
  width: 80%;
  padding: 0 10px;
  margin: 0 auto;
  @include flex(column, null, center, center, null);
}

// Begining Of The Project
.myBtn {
  width: 200px;
  padding: 10px;
  font-size: 18px;
  border-radius: 7px;
  border: none;
  outline: none;
  background-color: color(blk-color-02);
  color: color(wht-color-01);
  @include transition;
  &:hover {
    background-color: rgba(color(blk-color-02), 0.8);
  }
  &:active {
    background-color: color(blk-color-02);
  }
}